[submodule "src/SET/abstractor"]
	path = src/SET/abstractor
	url = https://github.com/Awni00/abstractor.git
[submodule "src/data/LLM-PuzzleTest"]
	path = src/data/LLM-PuzzleTest
	url = https://github.com/declare-lab/LLM-PuzzleTest
[submodule "src/data/MathVision"]
	path = src/data/MathVision
	url = https://github.com/mathvision-cuhk/MathVision.git
